@import "/src/styles/mixins/colors.scss";
@import "/src/styles/mixins/fonts.scss";

.button {
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;
  box-shadow:  -0em 0em 1em 0.1em $yellow-color;



  @include SizeSmall;
  padding: 15px 50px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;


  &.primary {
    background-color: $yellow-color;
    color: $white-color;
  }

  &.secundary {
    background-color: $white-color;
    color: $purple-color;
  }

  &.full {
    @include SizeNormal;
    padding: 21px;
    width: 100%;
    font-weight: 600;
    background-color: $yellow-color;
    color: $white-color;
  }
  @include Phone {
    font-size: 1rem;
  }
}

.button:hover {
  color: black;
  background-color: $green-color;
  transition: 0.2s linear;
}
.button:not(:disabled):hover {
  transform: scale(1.05);
}
.button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}
.button:focus {
  outline: 0 solid transparent;
}
.button:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  // user-select: none;
}

.button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button:focus:not(:focus-visible):before {
  border-width: 0;
}

.button:not(:disabled):active {
  transform: translateY(.125rem);
}