@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/responsive.scss";
@import "/src/styles/mixins/fonts.scss";
@import "/src/styles/mixins/colors.scss";

.container {
  @include Padding;
  height: 100vh;
  padding-top: 219px;
  background-image: url("/images/BACKGROUND__WELCOME__3.png");
  background-repeat: no-repeat;
  background-size: cover; //rever
  display: grid;
  grid-template-columns: repeat(2, 1fr);


  @include Phone {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    background-image: url("/images/BACKGROUND__WELCOME__1.png");
    background-position: 80%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  @include Tablet {
    height: 100%;
    margin-bottom: 4rem;
    padding-top: 4rem;
  }

  @include Laptop {
    padding-top: 6rem;
  }
}

.text {

  h1 {
    @include SizeExtra;

    @include Phone {
      font-size: 2rem;
      color: white;
      padding-top: 8rem;
    }
  }

  p {
    @include SizeNormal;
    opacity: 1;
    @include Phone {
      font-weight: 400;
      color: #fefefe;
    }
    
  }
}

.image {
  text-align: end;
  display: none;

  @include Phone {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    // display: flex;
  }
}
